/**
 * 	import important OCTOBER STORM mixins and variables
 */
.tileable .select2-hidden-accessible {
  height: 1px!important;
}
.tileable .list-head {
  overflow: auto;
}
.tileable .list-head input.form-control[type=text] {
  height: auto;
  padding: 4px 10px 5px 10px;
  background-position: right -87px;
}
.tileable .list-head .select2-container--default {
  height: auto;
  overflow: hidden;
}
.tileable .list-head .select2-container--default .select2-selection--single {
  height: auto;
  padding: 4px 23px 5px 11px;
}
.tileable .list-head .loading-indicator-container {
  min-height: auto;
}
.tileable .list-head .container-left {
  float: left;
  margin-right: 4px;
}
.tileable .list-head .container-right {
  float: right;
  margin-left: 4px;
}
.tileable .list-footer {
  clear: both;
  display: block;
  overflow: auto;
  padding-bottom: 20px;
}
.tileable-list {
  margin-left: -3.5px;
  margin-right: -3.5px;
  margin-top: -floor(7.5px);
}
.tileable-list .item {
  /*
        &.active .wrapper,
        &.active .wrapper:hover{
          //background-color: @color-list-active;
          //color: @color-list-text-active;
          background-color: @color-list-hover-bg;
          color: @color-list-grid;
          
          border-left: 4px solid @color-list-stripe-active;
          padding: floor(@grid-gutter-width/4) floor(@grid-gutter-width/4) floor(@grid-gutter-width/4) floor(@grid-gutter-width/4);
          
          &:before { color: @color-list-text-active; }
        }
        */
  /*
        .wrapper:hover{
          background-color: @color-list-hover-bg;
          color: @color-list-grid;
          text-decoration: none !important;
        }
        */
  /*
        .preview{
          background-color: @color-list-accent;
          display: block;
          background-size: cover;
          background-repeat: no-repeat;
          .opacity(1);
          .grayscale();
        }
        .wrapper:hover .preview{
          .opacity(1);
          .grayscale(0);
        }
        */
}
.tileable-list .item .wrapper,
.tileable-list .item .wrapper:active,
.tileable-list .item .wrapper:visited {
  position: relative;
  display: block;
  margin-top: 7px;
  background-color: #eeeeee;
  border-left: 4px solid transparent;
  padding: 7px 7px 7px 3px;
  color: #666666;
  overflow: auto;
}
.tileable-list .item .wrapper:hover {
  background-color: #dddddd;
  color: #000000;
}
.tileable-list .item.active .wrapper,
.tileable-list .item.active .wrapper:hover {
  background-color: #4da7e8;
  color: #eeeeee;
  padding: 7px 7px 7px 3px;
}
.tileable-list .item.active .wrapper:before,
.tileable-list .item.active .wrapper:hover:before {
  color: #000000;
}
.tileable-list .item .wrapper > input[type="radio"],
.tileable-list .item .wrapper > input[type="checkbox"] {
  display: none;
}
.tileable-list .item .preview {
  background-color: #f5f5f5;
  display: block;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.tileable-list .item .wrapper:hover .preview {
  opacity: 0.75;
  filter: alpha(opacity=75);
  -webkit-filter: grayscale(1);
  -moz-filter: grayscale(1);
  -o-filter: grayscale(1);
  -ms-filter: grayscale(1);
  filter: grayscale(1);
}
.tileable-list .item .description {
  display: block;
  margin-bottom: 0px;
  font-size: 12px;
}
.tileable-list .item .description > .list-cell {
  width: 100%;
  height: 20px;
  line-height: 19px;
  overflow: hidden;
  display: block;
  white-space: nowrap;
}
.tileable-list .item .main-checkbox {
  display: none;
  position: absolute;
  top: 7px;
  margin: 0px;
  padding: 0px 4px 4px 0px;
  background-color: #eeeeee;
  width: 20px;
  height: 20px;
}
.tileable-list .item .main-checkbox > label {
  margin: 0px;
  padding: 0px;
  position: absolute;
}
.tileable-list .item .main-checkbox > label:before {
  margin: 0px;
  padding: 0px;
  left: 0px;
  top: 0px;
  right: auto;
  bottom: auto;
}
.tileable-list .item .wrapper:hover .main-checkbox {
  display: block;
  background-color: #dddddd;
}
.tileable-list .item.active .main-checkbox {
  background-color: #4da7e8 !important;
}
.tileable-list .item [data-click-target] {
  cursor: pointer;
}
.tileable-list .item .right-column {
  display: none;
  margin: 2px;
  position: absolute;
  top: 7px;
  right: 7px;
}
.tileable-list .item .right-column .btn {
  float: right;
  display: block;
  margin-bottom: 2px;
  clear: both;
}
.tileable-list .item .right-column .btn-xs {
  padding: 1px 3px 1px 7px;
}
.tileable-list .item .right-column .btn-xs .icon {
  width: 13px;
  display: inline-block;
}
.tileable-list .item .wrapper:hover .right-column {
  display: block;
}
.tileable-list .item.active .edit-button {
  background-color: #dddddd !important;
  color: black;
}
.tileable-list .item.active .edit-button:hover {
  background-color: white !important;
}
.tileable-list .item select,
.tileable-list .item input {
  height: 30px;
  overflow: hidden;
}
.tileable-list .item .select2-hidden-accessible {
  display: none;
}
.tileable-list .item .select2-container--default {
  height: 30px;
  overflow: hidden;
}
.tileable-list .item .select2-container--default .select2-selection--multiple {
  min-height: 30px;
  height: 30px;
  overflow: auto;
}
.tileable-list .item .select2-container--default .select2-selection--multiple .select2-selection__choice {
  margin: 2px 0 0 2px;
  padding: 1px 3px 1px 0;
  font-size: 12px;
  line-height: 1.1em;
  background: #8e8e8e;
  color: white;
  border: none;
}
.tileable-list .item .select2-container--default .select2-selection--multiple .select2-selection__choice .select2-selection__choice__remove {
  margin-right: 0px;
  padding-left: 3px;
  padding-right: 3px;
  float: left;
  color: white;
}
.tileable-list .item .select2-container--default .select2-selection--multiple .select2-selection__choice .select2-selection__choice__remove:hover {
  color: black;
}
.tileable-list .item .select2-container--default .select2-selection--multiple .select2-search--inline {
  margin: 2px 0 0 2px;
  padding: 1px 1px 1px 3px;
  background-color: #eaeaea;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  max-width: 85%;
}
.tileable-list .item .select2-container--default .select2-selection--multiple .select2-search--inline .select2-search__field {
  display: block;
  font-size: 12px;
  padding: 0;
  line-height: 1.1em;
  height: 1.1em;
  max-width: 100%;
}
.tileable-list.view-lg .item {
  float: left;
  width: 50%;
  position: relative;
  min-height: 1px;
  padding-left: 3.5px;
  padding-right: 3.5px;
}
@media (min-width: 768px) {
  .tileable-list.view-lg .item {
    float: left;
    width: 33.33333333%;
  }
}
@media (min-width: 992px) {
  .tileable-list.view-lg .item {
    float: left;
    width: 25%;
  }
}
@media (min-width: 1200px) {
  .tileable-list.view-lg .item {
    float: left;
    width: 16.66666667%;
  }
}
.tileable-list.view-lg .item .wrapper {
  height: auto;
}
.tileable-list.view-lg .item .preview {
  width: 100%;
  height: 150px;
}
.tileable-list.view-lg .item .description {
  margin-top: 5px;
  width: 100%;
}
.tileable-list.view-md .item {
  float: left;
  width: 33.33333333%;
  position: relative;
  min-height: 1px;
  padding-left: 3.5px;
  padding-right: 3.5px;
}
@media (min-width: 768px) {
  .tileable-list.view-md .item {
    float: left;
    width: 25%;
  }
}
@media (min-width: 992px) {
  .tileable-list.view-md .item {
    float: left;
    width: 25%;
  }
}
@media (min-width: 1200px) {
  .tileable-list.view-md .item {
    float: left;
    width: 16.66666667%;
  }
}
.tileable-list.view-md .item .preview {
  width: 50px;
  height: 50px;
  float: left;
}
.tileable-list.view-md .item .description {
  margin-left: 60px;
}
.tileable-list.view-sm {
  margin-left: -1px;
  margin-right: -1px;
  margin-top: 5px;
}
.tileable-list.view-sm .item {
  float: left;
  width: 100%;
  position: relative;
  min-height: 1px;
  padding-left: 1px;
  padding-right: 1px;
}
@media (min-width: 768px) {
  .tileable-list.view-sm .item {
    float: left;
    width: 100%;
  }
}
@media (min-width: 992px) {
  .tileable-list.view-sm .item {
    float: left;
    width: 50%;
  }
}
@media (min-width: 1200px) {
  .tileable-list.view-sm .item {
    float: left;
    width: 50%;
  }
}
.tileable-list.view-sm .item .wrapper {
  margin-top: 2px;
}
.tileable-list.view-sm .item .preview {
  width: 30px;
  height: 30px;
  float: left;
}
.tileable-list.view-sm .item .description {
  margin-left: 40px;
}
.tileable-list.view-xs {
  margin-left: -1px;
  margin-right: -1px;
  margin-top: 5px;
}
.tileable-list.view-xs .item {
  float: left;
  width: 100%;
  position: relative;
  min-height: 1px;
  padding-left: 1px;
  padding-right: 1px;
}
@media (min-width: 768px) {
  .tileable-list.view-xs .item {
    float: left;
    width: 100%;
  }
}
@media (min-width: 992px) {
  .tileable-list.view-xs .item {
    float: left;
    width: 100%;
  }
}
@media (min-width: 1200px) {
  .tileable-list.view-xs .item {
    float: left;
    width: 100%;
  }
}
.tileable-list.view-xs .item .wrapper {
  margin-top: 2px;
}
.tileable-list.view-xs .item .preview {
  width: 30px;
  height: 30px;
  float: left;
}
.tileable-list.view-xs .item .description {
  margin-left: 40px;
}
.tileable-lg .tileable-list.view-lg .item {
  float: left;
  width: 50%;
  position: relative;
  min-height: 1px;
  padding-left: 3.5px;
  padding-right: 3.5px;
}
@media (min-width: 768px) {
  .tileable-lg .tileable-list.view-lg .item {
    float: left;
    width: 33.33333333%;
  }
}
@media (min-width: 992px) {
  .tileable-lg .tileable-list.view-lg .item {
    float: left;
    width: 33.33333333%;
  }
}
@media (min-width: 1200px) {
  .tileable-lg .tileable-list.view-lg .item {
    float: left;
    width: 25%;
  }
}
.tileable-lg .tileable-list.view-lg .item .wrapper {
  height: auto;
}
.tileable-lg .tileable-list.view-lg .item .preview {
  width: 100%;
  height: 150px;
}
.tileable-lg .tileable-list.view-lg .item .description {
  margin-top: 5px;
  width: 100%;
}
.tileable-lg .tileable-list.view-md .item {
  float: left;
  width: 100%;
  position: relative;
  min-height: 1px;
  padding-left: 3.5px;
  padding-right: 3.5px;
}
@media (min-width: 768px) {
  .tileable-lg .tileable-list.view-md .item {
    float: left;
    width: 50%;
  }
}
@media (min-width: 992px) {
  .tileable-lg .tileable-list.view-md .item {
    float: left;
    width: 33.33333333%;
  }
}
@media (min-width: 1200px) {
  .tileable-lg .tileable-list.view-md .item {
    float: left;
    width: 25%;
  }
}
.tileable-lg .tileable-list.view-md .item .preview {
  width: 50px;
  height: 50px;
  float: left;
}
.tileable-lg .tileable-list.view-md .item .description {
  margin-left: 60px;
}
.tileable-lg .tileable-list.view-sm .item .preview {
  width: 30px;
  height: 30px;
  float: left;
}
.tileable-lg .tileable-list.view-sm .item .description {
  margin-left: 40px;
}
